{{#if helper}}
  <span class="helper">{{helper}}</span>
  <div class="dropdown-with-helper-container">
{{/if}}
<select class="dropdown-list" {{#if placeholder}}data-placeholder='{{placeholder}}'{{/if}}>
  {{#each models}}
  <option {{#if selected}}selected{{/if}} {{#if disabled}}disabled{{/if}}>{{label}}</option>
  {{/each}}
</select>
{{#if helper}}
</div>
{{/if}}