/* Colors
------------------------------------------------------- */
/* Fonts
------------------------------------------------------- */
/* Defaults
------------------------------------------------------- */
/* Forms
------------------------------------------------------- */
/* Z-Indexes
------------------------------------------------------- */
/* Grid
------------------------------------------------------- */
/* Fluid grid
------------------------------------------------------- */
.dropdown {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  font-size: 14px; }
  .dropdown .helper {
    color: gray; }

.dropdown[class*="span"] {
  margin-left: 0; }
